@charset "UFT-8";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    height: 200vh;
}
header{
    background-position: center;
    background-size: cover;
    min-height: 400px;
    background-attachment: fixed;
    
}